Repository NULL-header/null-header.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:ts, yarn lint:md

.lintstagedrc.json:

{
  "*.ts":"yarn lint:ts",
  "*.tsx":"yarn lint:ts",
  "*.md":"yarn lint:md"
}

docs: add readme #2
  README.md
Due: yarn lint:md

docs: add for developer #2
  docs/for-dev/lint.md
  docs/for-dev/prepare.md
  docs/for-dev/rules.md
  docs/for-dev/scripts.md
Due: yarn lint:md

chore: install chakra ui #5
  package.json
  yarn.lock
Due: none

chore: fix for code style #5
  .eslintrc.json
Due: none

style: remove margin and padding #5
  src/app.tsx
Due: yarn lint:ts

chore: install jotai #6
  package.json
  yarn.lock
Due: none

chore: unused rule removing #6
  .eslintrc.json
Due: none

feat: menu base #6
  src/app.tsx
  src/components/content-tree/content.tsx
  src/components/content-tree/menu.tsx
Due: yarn lint:ts

chore: remove unsused file #6
  src/components/HelloWorld/index.tsx
Due: yarn lint:ts

feat: cusor over reaction #6
  src/app.tsx
  src/components/content-tree/content.tsx
  src/components/content-tree/menu.tsx
Due: yarn lint:ts

chore: remove unused file #6
  src/components/content-tree/content.tsx
Due: yarn lint:ts

chore: coding style fix #6
  .eslintrc.json
Due: none

feat: tree base #6
  src/components/content-tree/item.tsx
  src/components/content-tree/menu.tsx
  src/components/content-tree/tree.tsx
Due: yarn lint:ts

fix: wrong folder #6
  src/components/content-tree/tree.tsx
Due: yarn lint:ts

feat: nested #6
  src/app.tsx
  src/components/content-tree/tree.tsx
Due: yarn lint:ts

perf: use css #6
  src/components/content-tree/item.tsx
  src/components/content-tree/menu.tsx
Due: yarn lint:ts

fix: wrong updating state #6
  src/components/content-tree/tree.tsx
Due: yarn lint:ts

feat: add test #6
  jest.config.js
  tests/components/content-tree/menu.test.tsx
  tests/components/content-tree/tree.test.tsx
Due: yarn lint:ts

chore: install react-use #6
  package.json
  yarn.lock
Due: none

feat: change inteface #6
  src/components/content-tree/item.tsx
  src/components/content-tree/menu.tsx
  tests/components/content-tree/menu.test.tsx
Due: yarn lint:ts

feat: nested animation #6
  src/components/content-tree/tree.tsx
Due: yarn lint:ts

chore: showing #6
  src/app.tsx
Due: yarn lint:ts

feat: back #6
  src/components/content-tree/tree.tsx
Due: yarn lint:ts

refactor: remove unused import #6
  src/components/content-tree/tree.tsx
Due: yarn lint:ts

fix: project name and dependencies #13
  package.json
Due: none

feat: viewer base #16
  src/app.tsx
  src/components/content-tree/index.ts
  src/components/content-tree/tree.tsx
  src/components/viewer.tsx
  tests/components/content-tree/tree.test.tsx
Due: yarn lint:ts

feat: extract animation #16
  src/components/base-move-box.tsx
  src/components/slide-box.tsx
Due: yarn lint:ts

feat(refactor): viewer #16
  src/app.tsx
  src/components/content-tree/menu.tsx
  src/components/content-tree/tree.tsx
  src/components/content-tree/viewer.tsx
Due: yarn lint:ts

fix: forrow changed interface #16
  tests/components/content-tree/menu.test.tsx
  tests/components/content-tree/tree.test.tsx
Due: yarn lint:ts

chore: remove unused #17
  .gitignore
  public/empty
Due: none

fix: build script #17
  package.json
Due: none

build: page #17
  .editorconfig
  .eslintrc.json
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  .markdownlintrc.jsonc
  .prettierrc.json
  README.md
  bundle.js
  bundle.js.LICENSE.txt
  commitlint.config.ts
  docs/for-dev/lint.md
  docs/for-dev/prepare.md
  docs/for-dev/rules.md
  docs/for-dev/scripts.md
  index.html
  jest.config.js
  package.json
  scripts/git/issue-number-to-commit.bash
  src/@types/empty
  src/app.tsx
  src/components/base-move-box.tsx
  src/components/content-tree/index.ts
  src/components/content-tree/item.tsx
  src/components/content-tree/menu.tsx
  src/components/content-tree/tree.tsx
  src/components/content-tree/viewer.tsx
  src/components/slide-box.tsx
  src/index.html
  src/index.tsx
  tests/components/content-tree/menu.test.tsx
  tests/components/content-tree/tree.test.tsx
  tests/empty
  tsconfig.build.json
  tsconfig.json
  tsconfig.test.json
  webpack.config.ts
  yarn.lock
Due: yarn lint:ts, yarn lint:md

chore: install next master
  package.json
  yarn.lock
Due: none

chore: additional install master
  package.json
  yarn.lock
Due: none

chore: add next master
  .gitignore
  next-env.d.ts
  pages/_app.tsx
  pages/index.tsx
  src/index.html
  src/index.tsx
  tsconfig.json
  webpack.config.ts
Due: yarn lint:ts

chore: remove test master
  tests/components/content-tree/menu.test.tsx
  tests/components/content-tree/tree.test.tsx
Due: yarn lint:ts

refactor: rename for next master
  components/base-move-box.tsx
  components/content-tree/index.ts
  components/content-tree/item.tsx
  components/content-tree/menu.tsx
  components/content-tree/tree.tsx
  components/content-tree/viewer.tsx
  components/slide-box.tsx
Due: yarn lint:ts

fix: ignore comment #32
  scripts/git/issue-number-to-commit.bash
Due: none

chore: install bundle-analyzer #30
  package.json
  yarn.lock
Due: none

chore: update script for analyzer #30
  package.json
Due: none
